<!DOCTYPE html>
<html>
  <head>
    <title><%= image.title %></title>
  </head>
  <body>
    <picture>
      <img src="<%= image.file[0].url %>" alt="<%= image.description %>" />
    </picture>
  </body>
</html>
