<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/slick/slick.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/slick/slick-theme.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/css/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="http://kenwheeler.github.io/slick/css/prism.css"
    />

    <title><%= title %></title>
  </head>
  <body>
    <section id="features" class="blue">
      <div class="content">
        <div class="slider single-item">
          <% slides.forEach(function(slide) { %>
          <div>
            <img src="<%= slide.desktop_login.url %>" />
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="//code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="http://kenwheeler.github.io/slick/slick/slick.js"
    ></script>
    <script
      type="text/javascript"
      src="http://kenwheeler.github.io/slick/js/scripts.js"
    ></script>
    <script
      type="text/javascript"
      src="http://kenwheeler.github.io/slick/js/prism.js"
    ></script>
  </body>
</html>
